.AvatarContainer {
    width: 100px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.Avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
}
