.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: 0.2s;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: 10px 20px 20px;
}

.switchers {
    grid-row-start: 3;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.lang {
    margin-top: 15px;
}

.themeSwitcher {
    path {
        fill: var(--primary-color);
    }
}

.collapseBtn {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: translate(50%, 0);
    transition: 0.2s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 10px 10px 20px;
}

.linksList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    transition: 0.2s;
}
