.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: 0.2s;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: 10px 20px 20px;
}

.switchers {
    grid-row-start: 3;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.lang {
    margin-top: 15px;
}

.collapseBtn {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: translate(50%, 0);
    transition: 0.2s;
}

.linkIcon {
    fill: var(--secondary-color);
    transition: 0.2s;
    margin-right: 10px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 10px 10px 20px;

    .link {
        font-size: 0;
    }

    .linkIcon {
        margin-right: 0;
    }
}

.link:hover {
    color: var(--primary-color);

    .linkIcon {
        fill: var(--primary-color);
    }
}

.linksList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    transition: 0.2s;

    .link + .link {
        margin-top: 20px;
    }
}
