.linkIcon {
    fill: var(--secondary-color);
    transition: 0.2s;
    margin-right: 10px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.link:hover {
    color: var(--primary-color);

    .linkIcon {
        fill: var(--primary-color);
    }
}

.link + .link {
    margin-top: 20px;
}

.collapsed {
    font-size: 0;

    &.linkIcon {
        margin-right: 0;
    }
}
