.wrapper {
    display: flex;
    flex-direction: column;
}

.placeholder {
    display: inline-block;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
    border: 1px solid var(--primary-color);
}

.option {
    background: var(--bg-color);
}
