.AppLink {
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        text-decoration: underline;
    }
}

.primary {
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color);
    }
}

.secondary {
    color: var(--secondary-color);

    &:hover {
        color: var(--primary-color);
    }
}
